

 .footer-topss {
    position: relative;
    background-color: #e5e6e8;
    color: #fdfcff;
    z-index: 10001;
    padding: 55px 0 55px;
    border-top : 1px solid #d1d0d2;
    border-bottom : 1px solid #d1d0d2;
   	margin-top: 150px;
    }
    
 .textt{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:#FFFFFF;
   }